# Mapping arrays to Neopixel leds

To build more complicated applications using neopixel lights I needed to be able to cast RGB values to a dataframe or numpy array. This will enable me to program the LEDs using more complicated stats packages. 

**note** I'm writing this jupyter notebook, and not on a raspbery pi. The module `ledArray` will run on my Raspbery PI 4 with no problem but the `neopixel` and `board` module isn't on my VM. 

The trick is to build a matrix of the RGB values that you want and then flatten it into a NeoPixel array. A `NeoPixel` is an array of RGB values so you can manipulate it the same way you would a numpy array.

In [1]:
from IPython.display import HTML
from IPython import display

In [2]:
#You'll need these packages to execute the code on an RPi, you can leave them off if you are designing offline. 
#import board
#import neopixel

#other more standard libraries
import numpy as np
import pandas as pd

#my libraries
import ledArray as led

I'm using a 60 pixel array, cut and diced into 6 slices (rows) of 10 leds (columns). I want to put this into a grid. I also am going to run this from a single GPIO pin

I would normally run the line:
`pixels = neopixel.NeoPixel(board.D18, 60)` to fire up the board. Then `pixels[0] = (100,100,100)` or something to turn that light on.

In [3]:
screen = led.Screen(20,8)

print(screen)
screen

(20,8) screen

A `Screen` object takes an x,y argument and draws a dataframe with all of the led positions in a convinient format. 

##### Argumetns
* `nrows` - the y plane (number of leds)
* `ncols` - the x plane
* `NeoPixel` - place the board.D18 or whatever pin is your digital out. 
    * If "dummy" then it just returns a blank array and doesn't invoke the neopixel library. This is usefull for offline testing and pattern development.  
* `alter_rows` (default True) - alternate the direction of the leds. See diagram.

## Two Dataframes

The first thing that is created is the `df` of led positions. Note the alternating rows.

In [4]:
screen.leds

      0    1    2    3    4    5    6    7
0     0    1    2    3    4    5    6    7
1    15   14   13   12   11   10    9    8
2    16   17   18   19   20   21   22   23
3    31   30   29   28   27   26   25   24
4    32   33   34   35   36   37   38   39
5    47   46   45   44   43   42   41   40
6    48   49   50   51   52   53   54   55
7    63   62   61   60   59   58   57   56
8    64   65   66   67   68   69   70   71
9    79   78   77   76   75   74   73   72
10   80   81   82   83   84   85   86   87
11   95   94   93   92   91   90   89   88
12   96   97   98   99  100  101  102  103
13  111  110  109  108  107  106  105  104
14  112  113  114  115  116  117  118  119
15  127  126  125  124  123  122  121  120
16  128  129  130  131  132  133  134  135
17  143  142  141  140  139  138  137  136
18  144  145  146  147  148  149  150  151
19  159  158  157  156  155  154  153  152

There is also a coresponding `df` of colors.

In [5]:
screen.colors

        0      1      2      3      4      5      6      7
0   0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0
1   0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0
2   0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0
3   0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0
4   0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0
5   0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0
6   0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0
7   0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0
8   0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0
9   0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0
10  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0
11  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0
12  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0
13  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0
14  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0
15  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0
16  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0
17  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0
18  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0
19  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0  0,0,0

# Getting colors

By specifying a `df.loc` method, you can get and put colors in specific places.

Now you can get and place LED colors very easy. Use built-in Pandas functions to get and set data. Here's an example of a box.

In [6]:
print(screen.leds.loc[3:4,5:6].values.flatten())
screen.leds.loc[3:4,5:6]

[26 25 37 38]

    5   6
3  26  25
4  37  38

placing sets in dataframes is troublesome, so I'm using a string instead. `screen` has functions to get and set values from the `str` to `set` types:

In [7]:
print(screen.colors.loc[3:4,5:6].values.flatten())
screen.colors.loc[3:4,5:6]

['0,0,0' '0,0,0' '0,0,0' '0,0,0']

       5      6
3  0,0,0  0,0,0
4  0,0,0  0,0,0

In [8]:
screen.colors.loc[3:4,5:6].applymap(screen.to_set).values.flatten()

array([(0, 0, 0), (0, 0, 0), (0, 0, 0), (0, 0, 0)], dtype=object)

This is shortened to make it easier to do:

In [9]:
l = screen.get_vals([3,4],[5,6])
print(l[1][0])
print(l[1][1])
l

25
(0, 0, 0)

[[26, (0, 0, 0)], [25, (0, 0, 0)], [37, (0, 0, 0)], [38, (0, 0, 0)]]

the neopixel library exects the following:
```
pixel[i] = (0,0,0)
```
So you can take the list provided by `led.get_vals()` and apply it like this:
```
for i in l:
    pixel[l[i][0]] = l[i][1]
```
That will light up only the leds that you specified in the range and assign the color that it is set to have in the DF.

# Setting colors

I've placed some QA and limitations on what you can set to ensure that all colors are int values between 0 and 255.

In [10]:
t = ("x",300,100.4)
c = screen.to_str(t)
c

'0,255,100'

In [11]:
x = [3,4]
y = [5,6]
rgb = (204, 153, 255)

screen.set_vals(x,y,rgb)

screen.colors

        0      1      2            3            4      5      6      7
0   0,0,0  0,0,0  0,0,0        0,0,0        0,0,0  0,0,0  0,0,0  0,0,0
1   0,0,0  0,0,0  0,0,0        0,0,0        0,0,0  0,0,0  0,0,0  0,0,0
2   0,0,0  0,0,0  0,0,0        0,0,0        0,0,0  0,0,0  0,0,0  0,0,0
3   0,0,0  0,0,0  0,0,0        0,0,0        0,0,0  0,0,0  0,0,0  0,0,0
4   0,0,0  0,0,0  0,0,0        0,0,0        0,0,0  0,0,0  0,0,0  0,0,0
5   0,0,0  0,0,0  0,0,0  204,153,255  204,153,255  0,0,0  0,0,0  0,0,0
6   0,0,0  0,0,0  0,0,0  204,153,255  204,153,255  0,0,0  0,0,0  0,0,0
7   0,0,0  0,0,0  0,0,0        0,0,0        0,0,0  0,0,0  0,0,0  0,0,0
8   0,0,0  0,0,0  0,0,0        0,0,0        0,0,0  0,0,0  0,0,0  0,0,0
9   0,0,0  0,0,0  0,0,0        0,0,0        0,0,0  0,0,0  0,0,0  0,0,0
10  0,0,0  0,0,0  0,0,0        0,0,0        0,0,0  0,0,0  0,0,0  0,0,0
11  0,0,0  0,0,0  0,0,0        0,0,0        0,0,0  0,0,0  0,0,0  0,0,0
12  0,0,0  0,0,0  0,0,0        0,0,0        0,0,0  0,0,0  0,0,0  0,0,0
13  0,0,0  0,0,0  0,0,0        0,0,0        0,0,0  0,0,0  0,0,0  0,0,0
14  0,0,0  0,0,0  0,0,0        0,0,0        0,0,0  0,0,0  0,0,0  0,0,0
15  0,0,0  0,0,0  0,0,0        0,0,0        0,0,0  0,0,0  0,0,0  0,0,0
16  0,0,0  0,0,0  0,0,0        0,0,0        0,0,0  0,0,0  0,0,0  0,0,0
17  0,0,0  0,0,0  0,0,0        0,0,0        0,0,0  0,0,0  0,0,0  0,0,0
18  0,0,0  0,0,0  0,0,0        0,0,0        0,0,0  0,0,0  0,0,0  0,0,0
19  0,0,0  0,0,0  0,0,0        0,0,0        0,0,0  0,0,0  0,0,0  0,0,0

You can also set a random color value with `random_color()`

In [13]:
screen.random_color()

(30, 67, 99)

In [14]:
screen.set_vals([6,7],[8,9],screen.random_color())

screen.colors

        0      1      2            3            4      5        6        7
0   0,0,0  0,0,0  0,0,0        0,0,0        0,0,0  0,0,0    0,0,0    0,0,0
1   0,0,0  0,0,0  0,0,0        0,0,0        0,0,0  0,0,0    0,0,0    0,0,0
2   0,0,0  0,0,0  0,0,0        0,0,0        0,0,0  0,0,0    0,0,0    0,0,0
3   0,0,0  0,0,0  0,0,0        0,0,0        0,0,0  0,0,0    0,0,0    0,0,0
4   0,0,0  0,0,0  0,0,0        0,0,0        0,0,0  0,0,0    0,0,0    0,0,0
5   0,0,0  0,0,0  0,0,0  204,153,255  204,153,255  0,0,0    0,0,0    0,0,0
6   0,0,0  0,0,0  0,0,0  204,153,255  204,153,255  0,0,0    0,0,0    0,0,0
7   0,0,0  0,0,0  0,0,0        0,0,0        0,0,0  0,0,0    0,0,0    0,0,0
8   0,0,0  0,0,0  0,0,0        0,0,0        0,0,0  0,0,0  28,23,2  28,23,2
9   0,0,0  0,0,0  0,0,0        0,0,0        0,0,0  0,0,0  28,23,2  28,23,2
10  0,0,0  0,0,0  0,0,0        0,0,0        0,0,0  0,0,0    0,0,0    0,0,0
11  0,0,0  0,0,0  0,0,0        0,0,0        0,0,0  0,0,0    0,0,0    0,0,0
12  0,0,0  0,0,0  0,0,0        0,0,0        0,0,0  0,0,0    0,0,0    0,0,0
13  0,0,0  0,0,0  0,0,0        0,0,0        0,0,0  0,0,0    0,0,0    0,0,0
14  0,0,0  0,0,0  0,0,0        0,0,0        0,0,0  0,0,0    0,0,0    0,0,0
15  0,0,0  0,0,0  0,0,0        0,0,0        0,0,0  0,0,0    0,0,0    0,0,0
16  0,0,0  0,0,0  0,0,0        0,0,0        0,0,0  0,0,0    0,0,0    0,0,0
17  0,0,0  0,0,0  0,0,0        0,0,0        0,0,0  0,0,0    0,0,0    0,0,0
18  0,0,0  0,0,0  0,0,0        0,0,0        0,0,0  0,0,0    0,0,0    0,0,0
19  0,0,0  0,0,0  0,0,0        0,0,0        0,0,0  0,0,0    0,0,0    0,0,0